In [1]:
import os
os.getcwd()

'C:\\Users\\Laila\\Downloads\\Task2'

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("distribution_of_schools_classes_students_teachers_by_education_level_and_department_for_2017_-2.xlsx")

In [4]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,توزيــــــع المـــدارس حســــب إدارات التعليــ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,المنطقة الإدارية,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,NaN,NaN,المرحلة الابتدائية,NaN,...,NaN,تعليم كبار,NaN,NaN,تربية خاصة,NaN,NaN,المجموع,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,حكومي,أهلي,الاجمالي,حكومي,أهلي,...,الاجمالي,حكومي,أهلي,الاجمالي,حكومي,اهلي,الاجمالي,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
615,NaN,NaN,NaN,NaN,تحفيظ,0,0,0,527,69,...,158,0,0,0,0,5,5,1091,NaN,NaN
616,NaN,NaN,NaN,NaN,تربية خاصة,0,0,0,2,0,...,0,0,0,0,1011,39,1050,1053,NaN,NaN
617,NaN,NaN,NaN,NaN,جملة,2132,1272,3404,6322,780,...,3005,1157,1,1158,1011,44,1055,19882,NaN,NaN
618,NaN,مجموع,NaN,NaN,NaN,2132,1272,3404,12647,1390,...,6085,1798,1,1799,2713,64,2777,36693,NaN,NaN
619,NaN,الاجمالي,NaN,NaN,NaN,اجمالي رياض أطفال,NaN,3404,اجمالي ابتدائي,NaN,...,6085,اجمالي تعليم كبار,NaN,1799,اجمالي تربية خاصة,NaN,2777,36693,NaN,NaN

In [6]:
headers = ["school","address","management","sex","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","guardian","traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","famrel","freetime","goout","Dalc","Walc","health","absences"]
print("headers\n", headers)

headers
 ['school', 'address', 'management', 'sex', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

In [7]:
data.columns = headers
data.head(15)

,school,address,management,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,NaN,توزيــــــع المـــدارس حســــب إدارات التعليــ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,المنطقة الإدارية,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,NaN,NaN,المرحلة الابتدائية,NaN,...,NaN,تعليم كبار,NaN,NaN,تربية خاصة,NaN,NaN,المجموع,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,حكومي,أهلي,الاجمالي,حكومي,أهلي,...,الاجمالي,حكومي,أهلي,الاجمالي,حكومي,اهلي,الاجمالي,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,الريـــاض,الرياض,ذكور,نهاري,0,0,0,518,174,...,311,0,0,0,0,0,0,1448,NaN,NaN
6,NaN,NaN,NaN,NaN,ليلي,0,0,0,0,0,...,37,28,0,28,0,0,0,92,NaN,NaN
7,NaN,NaN,NaN,NaN,تحفيظ,0,0,0,42,28,...,9,0,0,0,0,0,0,115,NaN,NaN
8,NaN,NaN,NaN,NaN,تربية خاصة,0,0,0,0,0,...,0,0,0,0,112,3,115,115,NaN,NaN
9,NaN,NaN,NaN,NaN,جملة,0,0,0,560,202,...,357,28,0,28,112,3,115,1770,NaN,NaN
10,NaN,NaN,NaN,إناث,نهاري,125,337,462,462,243,...,346,0,0,0,0,0,0,1951,NaN,NaN
11,NaN,NaN,NaN,NaN,كبيرات,0,0,0,0,0,...,17,117,0,117,0,0,0,149,NaN,NaN
12,NaN,NaN,NaN,NaN,تحفيظ,0,0,0,43,30,...,20,0,0,0,0,0,0,134,NaN,NaN
13,NaN,NaN,NaN,NaN,تربية خاصة,0,0,0,0,0,...,0,0,0,0,152,11,163,163,NaN,NaN
14,NaN,NaN,NaN,NaN,جملة,125,337,462,505,273,...,383,117,0,117,152,11,163,2397,NaN,NaN

In [ ]:
data1=data.replace('?',np.NaN)

In [9]:
data=data.dropna(subset=["sex"], axis=0)
data.head(20)

,school,address,management,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
2,NaN,المنطقة الإدارية,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,NaN,NaN,المرحلة الابتدائية,NaN,...,NaN,تعليم كبار,NaN,NaN,تربية خاصة,NaN,NaN,المجموع,NaN,NaN
5,NaN,الريـــاض,الرياض,ذكور,نهاري,0,0,0,518,174,...,311,0,0,0,0,0,0,1448,NaN,NaN
10,NaN,NaN,NaN,إناث,نهاري,125,337,462,462,243,...,346,0,0,0,0,0,0,1951,NaN,NaN
15,NaN,NaN,الأفلاج,ذكور,نهاري,0,0,0,35,2,...,13,0,0,0,0,0,0,71,NaN,NaN
20,NaN,NaN,NaN,إناث,نهاري,16,1,17,36,0,...,12,0,0,0,0,0,0,82,NaN,NaN
25,NaN,NaN,حوطة بني تميم والحريق,ذكور,نهاري,0,0,0,32,0,...,10,0,0,0,0,0,0,55,NaN,NaN
30,NaN,NaN,NaN,إناث,نهاري,15,5,20,32,0,...,10,0,0,0,0,0,0,78,NaN,NaN
35,NaN,NaN,الخرج,ذكور,نهاري,0,0,0,78,6,...,38,0,0,0,0,0,0,174,NaN,NaN
40,NaN,NaN,NaN,إناث,نهاري,25,22,47,82,6,...,44,0,0,0,0,0,0,237,NaN,NaN
45,NaN,NaN,الدوادمي,ذكور,نهاري,0,0,0,119,12,...,51,0,0,0,0,0,0,256,NaN,NaN
50,NaN,NaN,NaN,إناث,نهاري,57,9,66,141,7,...,65,0,0,0,0,0,0,364,NaN,NaN
55,NaN,NaN,الزلفي,ذكور,نهاري,0,0,0,27,0,...,8,0,0,0,0,0,0,49,NaN,NaN
60,NaN,NaN,NaN,إناث,نهاري,21,3,24,24,1,...,13,0,0,0,0,0,0,74,NaN,NaN
65,NaN,NaN,شقراء,ذكور,نهاري,0,0,0,22,1,...,10,0,0,0,0,0,0,46,NaN,NaN
70,NaN,NaN,NaN,إناث,نهاري,16,4,20,25,1,...,11,0,0,0,0,0,0,69,NaN,NaN
75,NaN,NaN,عفيف,ذكور,نهاري,0,0,0,53,5,...,23,0,0,0,0,0,0,115,NaN,NaN
80,NaN,NaN,NaN,إناث,نهاري,31,6,37,62,4,...,30,0,0,0,0,0,0,171,NaN,NaN
85,NaN,NaN,الغاط,ذكور,نهاري,0,0,0,4,0,...,2,0,0,0,0,0,0,10,NaN,NaN
90,NaN,NaN,NaN,إناث,نهاري,5,1,6,6,0,...,2,0,0,0,0,0,0,18,NaN,NaN
95,NaN,NaN,القويعية,ذكور,نهاري,0,0,0,110,4,...,31,0,0,0,0,0,0,206,NaN,NaN